.icon-label{
    font-size:0.1rem;
}

.projects-category{
    font-size:2.4rem;
    margin-bottom:2.4rem;
    text-align:center;
}

.portfolio-container{
    margin:3rem;
}

.tech-img{
    width:2rem;
    height:auto;
}